/* Lightbox overlay */
.lightbox {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .lightbox img {
    border-radius: 12px;
    box-shadow: 0 0 20px #000;
    max-width: 90%;
    max-height: 80%;
  }

  .lightbox-close {
    position: absolute;
    color: white;
    font-size: 50px;
    cursor: pointer;
    font-weight: bold;
    right: 1rem;
    top: 5rem;
  }

  /* Next & previous buttons */
  .lightbox-prev, .lightbox-next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 25px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .lightbox-prev {
    border-radius: 0 6px 6px 0;
    left: 0%;
  }

  .lightbox-next {
    border-radius: 6px 0 0 6px;
    right: 0%;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .lightbox-prev:hover, .lightbox-next:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

#lightbox-description{
  position: absolute;
  bottom: 0;
  padding: 1rem;
  font-size: 18px;
  font-style: italic;
}