.banner{
  width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    border-radius: 12px;
    margin-bottom: 0.5rem;
  }

  .tools-container {
    display: flex;
    justify-content: left;
    gap: 5rem;
    margin-right: 1rem;
  }

  .tool-container {
    display: flex;
    gap: 0.5rem;
  }
  
  .container {
    background-color: var(--surface-color);
    border-radius: 12px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.6rem;
    margin-bottom: 1rem;
  }
  
  .title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-top: 0.6rem;
    color: var(--primary-color);
  }

  .dual-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .container h1 {
    color: var(--text-color);
  }

  .container h2{
    color: var(--text-color);
    margin-bottom: 0;
    padding-top: 1rem;
  }

  .container hr{
    color: var(--background-color);
  }

  .logo{
    max-height: 4rem;
  }

  .button-download{
    max-height: 4rem;
    margin: 0.4rem;
  }

  .button-download:hover{
    transition: transform 0.2s, box-shadow 0.2s;
    transform: translateY(-2px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
    cursor: pointer;
  }

.content{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.links{
  margin-top: auto;
  font-size: 1.2rem;
}


ul{
  margin-right: 1rem;
}

li{
  margin-bottom: 0.3rem;
}